# Python Primer
This notebook will be used to give a quick run down of python and its functions

# Variables

## Integer variable

In [ ]:
# Integer variable
age = 30
print(f"Age: {age}, Type: {type(age)}")

Age: 30, Type: <class 'int'>

## Float variable

In [ ]:
# Float variable
price = 19.99
print(f"Price: {price}, Type: {type(price)}")

Price: 19.99, Type: <class 'float'>

## String Variable

In [ ]:
# String variable
name = "Alice"
print(f"Name: {name}, Type: {type(name)}")

Name: Alice, Type: <class 'str'>

## Boolean variable

In [ ]:
# Boolean variable
is_student = True
print(f"Is Student: {is_student}, Type: {type(is_student)}")

Is Student: True, Type: <class 'bool'>

# Lists (creation, indexing, common methods)

## Create a list

In [ ]:
# Create a list
fruits = ["apple", "banana", "cherry"]
print(f"Original list: {fruits}")

Original list: ['apple', 'banana', 'cherry']

## Access elements by index

In [ ]:
# Access elements by index (0-based)
print(f"First fruit: {fruits[0]}")
print(f"Last fruit: {fruits[-1]}")

First fruit: apple
Last fruit: cherry

## Add an Element

In [ ]:
# Add an element
fruits.append("orange")
print(f"List after adding: {fruits}")

List after adding: ['apple', 'banana', 'cherry', 'orange']

## Remove an element

In [ ]:
# Remove an element
fruits.remove("banana")
print(f"List after removing: {fruits}")

List after removing: ['apple', 'cherry', 'orange']

## Slice a List

In [ ]:
# Slice a list
first_two = fruits[0:2] # or fruits[:2]
print(f"First two fruits: {first_two}")

First two fruits: ['apple', 'cherry']

# Dictionaries (creation, accessing values)

## Create a dictionary

In [ ]:
# Create a dictionary
person = {
    "name": "Bob",
    "age": 25,
    "city": "New York"
}
print(f"Person dictionary: {person}")

Person dictionary: {'name': 'Bob', 'age': 25, 'city': 'New York'}

## Access values by key

In [ ]:
# Access values by key
print(f"Person's name: {person['name']}")

Person's name: Bob

## Add a new key-value pair

In [ ]:
person["occupation"] = "Engineer"
print(f"Person after adding occupation: {person}")

Person after adding occupation: {'name': 'Bob', 'age': 25, 'city': 'New York', 'occupation': 'Engineer'}

## Modify a value

In [ ]:
person["age"] = 26
print(f"Person after updating age: {person}")

Person after updating age: {'name': 'Bob', 'age': 26, 'city': 'New York', 'occupation': 'Engineer'}

# Conditional statements (if/else)

In [ ]:
score = 85

if score >= 90:
    print("Grade: A")
elif score >= 80:
    print("Grade: B")
else:
    print("Grade: C or lower")

# Loops (for loops)

## Loop through a list

In [ ]:
# Loop through a list
items = ["pen", "notebook", "eraser"]
for item in items:
    print(f"Current item: {item}")

Current item: pen
Current item: notebook
Current item: eraser

## Loop with range (for a specific number of times)

In [ ]:
# Loop with range (for a specific number of times)
for i in range(3): # 0, 1, 2
    print(f"Iteration {i+1}")

Iteration 1
Iteration 2
Iteration 3

# Functions (defining and calling simple functions)

## Define a function

In [ ]:
# Define a function
def greet(name):
    return f"Hello, {name}!"

## Call the function

In [ ]:
message = greet("Canon")
print(message)

Hello, Canon!

## Function with multiple arguments

In [ ]:
# Function with multiple arguments
def add_numbers(a, b):
    return a + b

## Use case:

In [ ]:
sum_result = add_numbers(10, 5)
print(f"Sum: {sum_result}")

Sum: 15